{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livraison</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livraison.id }}</td>
            </tr>
            <tr>
                <th>Internationnal</th>
                <td>{% if livraison.internationnal %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Delais</th>
                <td>{{ livraison.delais }}</td>
            </tr>
            <tr>
                <th>Support</th>
                <td>{{ livraison.support }}</td>
            </tr>
            <tr>
                <th>Expedition</th>
                <td>{% if livraison.expedition %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Domicile</th>
                <td>{% if livraison.domicile %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Virified</th>
                <td>{% if livraison.virified %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Virifiedat</th>
                <td>{% if livraison.virifiedAt %}{{ livraison.virifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livraison_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('livraison_edit', { 'id': livraison.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
